<!DOCTYPE html>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="user-list.component.css">
  <title>Users</title> 
<div class="users-container">
    <h1>Users</h1>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> i + 1 </td>
          <td> user.name</td>
          <td> user.email </td>
          <td> user.role</td>
        </tr>
        <tr>
          <td> i + 1 </td>
          <td> user.name</td>
          <td> user.email </td>
          <td> user.role</td>
        </tr>
        <tr>
          <td> i + 1 </td>
          <td> user.name</td>
          <td> user.email </td>
          <td> user.role</td>
        </tr>
        <tr>
          <td> i + 1 </td>
          <td> user.name</td>
          <td> user.email </td>
          <td> user.role</td>
        </tr>
      </tbody>
    </table>
  </div>
  
