<!DOCTYPE html>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
<!-- app.component.html -->
<div class="container">
  <nav>
    <ul>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/dashboard/products" routerLinkActive="active">Products</a></li>
      <li><a routerLink="/dashboard/users" routerLinkActive="active">Users</a></li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet> <!-- This is where routed components are loaded -->
</div>



