<!DOCTYPE html>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="product-details.component.css">
  <title>product-details</title>
<div class="products-container">
    <h1>Our Products</h1>
    <div="products-grid">
    <!-- Product 1 -->
      <div class="product-1">
        <img [src]="product.image" alt="sconces" class="product-image" />
        <h3>sconces</h3>
        <p class="price">20 litre R400</p>
        <button type="Add to Cart" class="btn-Add to Cart">Add to Cart</button>
    </div>
    <br><br>
    <div class="Product-2">
 <!-- Product 2 -->
        <img [src]="product.image" alt="Muffins" class="product-image" />
        <h3>Muffins</h3>
        <p class="price">20 litre R600</p>
        <button type="Add to Cart" class="btn-Add to Cart">Add to Cart</button>
    </div>
    <br><br>
    <div Product-3>
    <!-- Product 1 -->     
        <img [src]="product.image" alt="buscits" class="product-image" />
        <h3>buscits</h3>
        <p class="price">20 litre R750</p>
        <button type="Add to Cart" class="btn-Add to Cart">Add to Cart</button>
      </div>
    </div>

  
