<!DOCTYPE html>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="dashboard.component.css">
  <title>Dashboard</title> 
<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Dashboard</h1>
  </header>
  <section class="dashboard-content">
    <div class="card">
      <h2>Products</h2>
      <p>you can find our products here...</p>
      <button type="Go to Products" class="btn-Products">Go to Products</button>
    </div>
    <div class="card">
      <h2>Orders</h2>
      <p>customers can track their orders here...</p>
      <button type="Oders" class="btn-Oders">Go to Orders</button>
    </div>
    <div class="card">
      <h2>Users</h2>
      <p>Manage registered users.</p>
      <button type="Users" class="btn-Go to Users">Go to Users</button>
    </div>
  </section>
  <footer class="dashboard-footer">
    <p>&copy; 2024 CharityMthombeni inc.</p>
  </footer>
</div>

